#hero {
    margin-top: 60px;
    position: relative;
    padding: 0 40px;
    width: 100dvw;
    height: calc(100vh - 60px);
    min-height: 550px; /* Ensure square element fits inside */
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--color-primary);
}

#hero .networkBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.5);
}

#hero .textWrapper {
    max-width: 500px;
    display: flex;
    flex-flow: column;
    gap: 32px;
    z-index: 1;
}

#hero .textWrapper h1 {
    width: fit-content;
    font-size: 3rem;
    color: transparent;
    background: linear-gradient(45deg, var(--color-white), var(--color-secondary));
    background-clip: text;
}

#hero .textWrapper p {
    color: transparent;
    background: linear-gradient(45deg, var(--color-white) 80%, gray);
    background-clip: text;
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
    transform: skew(-10deg);
}

#hero .textWrapper .cta {
    margin-top: 16px;
    width: 200px;
    height: 50px;
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 10px var(--color-secondary);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
#hero .textWrapper .cta:hover {
    background-color: var(--color-accent);
    box-shadow: 0 2px 10px var(--color-accent);
    transform: translateY(-3px);
}
#hero .textWrapper .cta:active {transform: translateY(1px);}

#hero img {
    position: absolute;
    right: 10%;
    width: 500px;
    border-radius: 50%;
    border: solid 5px var(--color-secondary);
    outline: solid 3px var(--color-secondary);
    outline-offset: 10px;
}

/* When image be underneith texts */
@media (max-width: 850px) {
    #hero img {
        width: 450px;
        filter: brightness(50%);
    }
}
@media (max-width: 650px) {#hero img {width: 400px;}}

#about {
    padding: 60px 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-white);
}
  
#about h2 {
    font-size: 3rem;
    color: var(--color-black);
    margin-bottom: 20px;
}
  
#about .description {
    font-size: 1.5rem;
    color: var(--color-offblack);
    margin-bottom: 40px;
    max-width: 800px;
}
  
#about .coreValues {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
  
#about .coreValues .valueCard {
    background-color: var(--color-white);
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s;
}
#about .coreValues .valueCard:hover {
    background-color: rgba(166, 124, 255, 0.1);
}

#about .coreValues .valueCard img {
    width: 50px;
    height: 50px;
}
  
#about .coreValues .valueCard h3 {
    margin: 10px 0;
    font-size: 2rem;
    color: var(--color-black);
}
  
#about .coreValues .valueCard p {
    color: var(--color-offblack);
    font-size: 1.5rem;
}

.whyJoinJoint {
    width: 100dvw;
    height: 20px;
    background: linear-gradient(180deg, var(--color-white), var(--color-offwhite));
}

#whyJoin {
    padding: 80px 20px;
    text-align: center;
    background-color: var(--color-offwhite);
}

#whyJoin strong {color: var(--color-secondary);}

#whyJoin h2 {
    font-size: 3rem;
    color: var(--color-primary);
    margin-bottom: 20px;
}

#whyJoin .description {
    font-size: 1.5rem;
    color: var(--color-offblack);
    margin-bottom: 40px;
}

#whyJoin .whyJoinList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

#whyJoin .whyJoinList .whyJoinItem {
    padding: 20px;
    display: flex;
    flex-flow: column;
    text-align: start;
    border-radius: 8px;
    background-color: var(--color-white);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
#whyJoin .whyJoinList .whyJoinItem:hover {background-color: rgba(84, 194, 255, 0.1);}

#whyJoin .whyJoinList .whyJoinItem h3 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: var(--color-primary);
}

#whyJoin .whyJoinList .whyJoinItem p {
    color: var(--color-offblack);
    font-size: 1.5rem;
}

#cta {
    padding: 80px 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
}
  
#cta h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
  
#cta p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}
  
#cta .ctaButton {
    margin-top: 16px;
    width: 200px;
    height: 50px;
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 10px var(--color-secondary);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

#cta .ctaButton:hover {
    background-color: var(--color-accent);
    box-shadow: 0 2px 10px var(--color-accent);
    transform: translateY(-3px);
}
#cta .ctaButton:active {transform: translateY(1px);}

/* for mobile screen */
@media (max-width: 480px) {
    #hero {justify-content: center;}
    #hero img {
        right: auto;
        width: 300px;
        border: 3px solid var(--color-secondary);
        outline: 1px solid var(--color-secondary);
    }
    #hero .textWrapper {align-items: center;}
    #hero .textWrapper h1 {text-align: center;}
    #hero .textWrapper p {
        text-align: center;
        color: var(--color-white);
    }
}